<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Beacons</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="this.ibeacons.length > 0">
    <button ion-item *ngFor="let ibeacon of ibeacons">      
      {{ibeacon.uuid}}
      <div class="item-note" item-right>
        Proximity: {{ibeacon.proximity}}
        Accuracy: {{ibeacon.accuracy}}
        Major: {{ibeacon.major}}
        Minor: {{ibeacon.minor}}
      </div>
    </button>    
  </ion-list>
  <div padding *ngIf="this.ibeacons.length === 0">      
    You are so alone!!
  </div>
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
