<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>

  <figure class="snip1336">
    <img src="https://static.pexels.com/photos/271819/pexels-photo-271819.jpeg"
      alt="sample87" />
    <figcaption>
      <img src="https://orig00.deviantart.net/dab1/f/2012/152/f/2/golden_retriever_puppy_painting_by_silverwillows4-d51xj26.jpg" alt="profile-sample4" class="profile"/>
      <h2>Comet<span>Golden Retriever</span></h2>      
      <!-- <p>
        This is my profile. Here is some info about my pet and myself.
      </p> -->
      <ul>
        <li>
          Craves eating <b>{{profileData.favouriteFood}}</b>
        </li>
        <li *ngFor="let hobby of profileData.hobbies">Loves <b>{{hobby}}</b></li>
      </ul>

      <a href="#" class="follow">Follow</a>
      <!-- <a href="#" class="info">Owner Info</a> -->
      <a class="info"(click)="goToOwnerProfile()">
        Owner Info
      </a>
      <!-- <ul>
        <li>
          Craves eating <b>{{profileData.favouriteFood}}</b>
        </li>
        <li *ngFor="let hobby of profileData.hobbies">Loves <b>{{hobby}}</b></li>
      </ul> -->

    </figcaption>

  </figure>
</ion-content>